#top-box
{
    background-color:white;
    padding: 3% 15%;
    border:1px solid black;
}
body{

    font-family:montserrat,sans-serif;
}
div
{
    background:transparent;
}
.xbody
{
    display:table;
    width: 100%;
    padding: 3% ;
}
.xlist
{
    display:table-cell;
    vertical-align:top;
    width: 300px;
    background-color:lightgray;
}
.heading
{
    font-size:20px;
    margin-top: 30px;
}
.option
{

    font-size:18px;
    color:darkgray;
    padding: 4% 4%;
    border:1px solid darkgray;
    cursor:pointer;
    font-family: montserrat,sans-serif;
    
    
}
.active
{
    background-color:white;
}
.right
{
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}
.iconbox
{


}
